{% extends "layout.html" %}

{% block body %}


<table class="table table-striped">
        <thead>
            <th scope="col">Zipcode</th>
            <th scope="col">Location</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Population</th>
        </thead>
        <tbody>
            {% for similar in similar %}
            <tr>
                <td> {{ similar.zipcode }}</td>
                <td> {{ similar.city }}, {{ similar.state }} </td>
                <td> {{ similar.lat }} </td>
                <td> {{ similar.long }} </td>
                <td> {{ similar.population }} </td>
            </tr>
            {% endfor %}
        </tbody>

<table class="table table-dark">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Current Time</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{ weather["currently"]["time"] }}!</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
</table>
{% endblock %}
